# =====================================================
# MATLAB / Simulink
# =====================================================

# Autosave & Backup
*.asv
*.autosave
*.bak
*.slxc
*.r20*
*.mltbx
*.r2024b
*.r2025*
TESTT_VF_fixpt_AXI_test/

# Generated folders
slprj/
sccprj/
codegen/

# MATLAB compiled files
*.mex*
*.p
*.mltbx~

# Simulation data
*.log
*.tmp

# =====================================================
# Dossiers personnels (à ne pas versionner)
# =====================================================

00/Inutile/
00/Versions/
00/Ressources/

# =====================================================
# Vivado
# =====================================================

.cache/
.hw/
.Xil/
.gen/
.ip_user_files/
.sim/
.runs/

# Vivado reports
*.jou
*.str

# =====================================================
# Vitis / SDK
# =====================================================

.metadata/
Debug/
Release/
.settings/

# =====================================================
# Python
# =====================================================

__pycache__/
*.pyc
.ipynb_checkpoints/

# =====================================================
# VS Code / JetBrains
# =====================================================

.vscode/
.idea/

# =====================================================
# Windows
# =====================================================

Thumbs.db
desktop.ini

# =====================================================
# Git
# =====================================================

*.orig